body{
    background-color: #43B1C7;
}

.cardRickMorty{
    background-color: white;
    width: 15rem;
    height: auto;
    border-radius: 1rem;
    color: black;
    padding: 1rem;
    box-shadow: 10px 12px 22px 0px rgba(0,0,0,0.29);
    -webkit-box-shadow: 10px 12px 22px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: 10px 12px 22px 0px rgba(0,0,0,0.29);
}

.title-text{
    font-size: .7rem;
}

.text-justify{
    text-align: justify;
}